* {
  margin: auto;
  padding: 0; }

body {
  font-family: "Slabo 27px", serif; }
  body header {
    background: #1b1b1b;
    text-align: center; }
    body header a {
      text-decoration: none; }
    body header h1 {
      color: darkgray;
      padding: 20px; }
  body .container {
    position: relative;
    text-align: center; }
    body .container p {
      background: #f1f1f1;
      border-radius: 4px;
      color: rgba(75, 76, 80, 0.68);
      text-align: center;
      margin: 5px;
      padding: 10px;
      font-weight: bold; }
    body .container h1 {
      border: 3px solid dimgrey;
      text-align: center;
      color: dimgray;
      margin: 10px auto;
      padding: 10px;
      width: 200px;
      font-size: 18px;
      letter-spacing: 0.15em; }
    body .container .menu {
      list-style-type: none;
      text-align: center;
      background: #2be0a5; }
      body .container .menu li {
        display: inline-block;
        margin: 0;
        padding: 10px 20px;
        color: ghostwhite;
        font-weight: bold; }
        body .container .menu li a {
          text-decoration: none;
          color: inherit; }
        body .container .menu li:hover {
          background: rgba(49, 148, 116, 0.48); }
        body .container .menu li .inner-list {
          list-style-type: none; }
          body .container .menu li .inner-list > li {
            display: none;
            background: black;
            margin: 2px 0;
            color: ghostwhite;
            font-weight: bold; }
        body .container .menu li:hover > ul.inner-list li {
          display: block; }

body .container .menu > li .inner-list {
  position: absolute;
  margin: 10px auto auto -25px; }

body .container .menu li:hover > ul.inner-list.home {
  perspective: 1000px; }
  body .container .menu li:hover > ul.inner-list.home li {
    opacity: 0; }
    body .container .menu li:hover > ul.inner-list.home li:nth-child(1) {
      animation: homeList 300ms -150ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.home li:nth-child(2) {
      animation: homeList 300ms 0ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.home li:nth-child(3) {
      animation: homeList 300ms 150ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.home li:nth-child(4) {
      animation: homeList 300ms 300ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.home li:nth-child(5) {
      animation: homeList 300ms 450ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.home li:nth-child(6) {
      animation: homeList 300ms 600ms ease-in-out forwards; }

body .container .menu li:hover > ul.inner-list.about {
  perspective: 1000px; }
  body .container .menu li:hover > ul.inner-list.about li {
    opacity: 0; }
    body .container .menu li:hover > ul.inner-list.about li:nth-child(1) {
      animation: aboutList 300ms -150ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.about li:nth-child(2) {
      animation: aboutList 300ms 0ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.about li:nth-child(3) {
      animation: aboutList 300ms 150ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.about li:nth-child(4) {
      animation: aboutList 300ms 300ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.about li:nth-child(5) {
      animation: aboutList 300ms 450ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.about li:nth-child(6) {
      animation: aboutList 300ms 600ms ease-in-out forwards; }

body .container .menu li:hover > ul.inner-list.contact {
  perspective: 1000px; }
  body .container .menu li:hover > ul.inner-list.contact li {
    opacity: 0; }
    body .container .menu li:hover > ul.inner-list.contact li:nth-child(1) {
      animation: contactList 300ms -150ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.contact li:nth-child(2) {
      animation: contactList 300ms 0ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.contact li:nth-child(3) {
      animation: contactList 300ms 150ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.contact li:nth-child(4) {
      animation: contactList 300ms 300ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.contact li:nth-child(5) {
      animation: contactList 300ms 450ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.contact li:nth-child(6) {
      animation: contactList 300ms 600ms ease-in-out forwards; }

body .container .menu li:hover > ul.inner-list.signup {
  perspective: 1000px; }
  body .container .menu li:hover > ul.inner-list.signup li {
    opacity: 0; }
    body .container .menu li:hover > ul.inner-list.signup li:nth-child(1) {
      animation: signupList 300ms -150ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.signup li:nth-child(2) {
      animation: signupList 300ms 0ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.signup li:nth-child(3) {
      animation: signupList 300ms 150ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.signup li:nth-child(4) {
      animation: signupList 300ms 300ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.signup li:nth-child(5) {
      animation: signupList 300ms 450ms ease-in-out forwards; }
    body .container .menu li:hover > ul.inner-list.signup li:nth-child(6) {
      animation: signupList 300ms 600ms ease-in-out forwards; }

body #space-filler {
  position: relative;
  top: 0;
  background: #e6e6e6;
  padding: 92px;
  z-index: -1; }
  body #space-filler h2, body #space-filler p {
    color: dimgrey;
    text-align: center; }

body .spinners {
  text-align: center; }
  body .spinners > div {
    display: inline-block;
    margin: 10px;
    vertical-align: top; }
  body .spinners h1 {
    border: 3px solid dimgrey;
    text-align: center;
    color: dimgray;
    padding: 10px;
    width: 200px;
    font-size: 18px;
    margin: 10px auto;
    letter-spacing: 0.05em; }

body .spinners .google-spinner {
  position: relative;
  top: 20px;
  border: 4px solid dimgrey;
  height: 32px;
  width: 32px;
  border-top: 6px solid #1f7abb;
  border-right: 6px solid #19d45b;
  border-bottom: 6px solid gold;
  border-left: 6px solid red;
  border-radius: 100%; }

body .spinners .squares {
  position: relative;
  top: 20px;
  background: rgba(234, 234, 234, 0.19);
  height: 40px;
  width: 40px; }
  body .spinners .squares > div {
    background: #000;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: -2px -0.99px;
    position: absolute;
    top: 2px;
    left: 1px; }

body .spinners .clock {
  position: relative;
  top: 20px;
  margin-bottom: 10px;
  border: 4px solid rgba(53, 156, 94, 0.82);
  border-radius: 100%;
  height: 32px;
  width: 32px;
  text-align: center;
  padding: 5px; }
  body .spinners .clock::before {
    content: "";
    background: rgba(53, 156, 94, 0.82);
    height: 20px;
    width: 4px;
    position: absolute;
    top: 2px;
    left: 19px;
    border-radius: 20px; }

body .spinners {
  text-align: center; }
  body .spinners #heart-beating {
    position: relative;
    top: 20px; }
    body .spinners #heart-beating img {
      height: 32px;
      width: 32px; }

body .wrapper {
  position: relative;
  top: 40px;
  height: auto;
  width: auto;
  margin-bottom: 40px; }
  body .wrapper h1 {
    border: 3px solid dimgrey;
    text-align: center;
    color: dimgray;
    padding: 10px;
    width: 240px;
    font-size: 18px;
    margin: 10px auto;
    letter-spacing: 0.05em; }
  body .wrapper .subsForm {
    position: relative;
    top: 15px;
    background: linear-gradient(to left, #3bf5a7, #37bee6);
    border-radius: 4px;
    color: ghostwhite;
    padding: 20px 10px 40px 10px;
    height: auto;
    width: 400px;
    text-align: center; }
    body .wrapper .subsForm p {
      font-weight: bold; }
    body .wrapper .subsForm input {
      padding: 10px;
      border-radius: 4px;
      border: 0; }
    body .wrapper .subsForm #subsBtn {
      background: dodgerblue;
      border-radius: 4px;
      padding: 10px 20px;
      color: ghostwhite;
      font-weight: bold;
      text-align: center;
      height: auto;
      width: 150px;
      margin-top: 10px;
      cursor: pointer;
      box-shadow: 0px 12px 20px -10px #0d1113; }

.wobble {
  transform: translate(0.8, 0.8);
  transition: transform ease-in-out 1s; }

body #scaling-elems {
  position: relative;
  top: 20px; }
  body #scaling-elems h1 {
    border: 3px solid dimgrey;
    text-align: center;
    color: dimgray;
    padding: 10px;
    width: 200px;
    font-size: 18px;
    letter-spacing: 0.05em; }
  body #scaling-elems .wrapper {
    position: relative;
    top: 40px;
    height: auto;
    width: auto;
    margin-bottom: 40px;
    padding: 10px;
    background: #e2e5ec; }
    body #scaling-elems .wrapper input[type="text"]#input_search {
      border: none;
      outline: none;
      padding: 10px;
      background: #c4cbd6;
      border-radius: 0.25em; }

.scale_width {
  width: 240px;
  -webkit-transition: width ease-in-out 1s;
  transition: width ease-in-out 1s; }

body #vertical_sliders {
  position: relative;
  top: 40px; }
  body #vertical_sliders h1 {
    border: 3px solid dimgrey;
    text-align: center;
    color: dimgray;
    padding: 10px;
    width: 200px;
    font-size: 18px;
    letter-spacing: 0.05em; }
  body #vertical_sliders .content {
    position: relative;
    height: auto;
    width: auto;
    margin: 4px 0; }
    body #vertical_sliders .content h4 {
      background: #efefef;
      padding: 10px; }
    body #vertical_sliders .content span {
      position: absolute;
      top: 10px;
      right: 10px;
      font-weight: bold; }
      body #vertical_sliders .content span a {
        text-decoration: none;
        color: inherit; }
    body #vertical_sliders .content p {
      margin: 5px;
      padding: 5px;
      text-align: justify;
      display: none; }

@-webkit-keyframes spinBars {
  0% {
    transform: rotate(0deg);
    transition: transform ease 0.5s; }
  100% {
    transform: rotate(360deg);
    transition: transform ease 0.5s; }
  0% {
    transform: rotate(0deg);
    transition: transform ease 0.5s; } }
@keyframes spinBars {
  0% {
    transform: rotate(0deg);
    transition: transform ease 0.5s; }
  100% {
    transform: rotate(360deg);
    transition: transform ease 0.5s; }
  0% {
    transform: rotate(0deg);
    transition: transform ease 0.5s; } }
@-webkit-keyframes blinkSquares {
  0%, 100% {
    opacity: 1; }
  30% {
    transform: translateX(21px);
    transition: transform ease 0.5s;
    opacity: 0.6;
    background: aqua; }
  60% {
    transform: translate(21px, 21px);
    transition: transform ease 0.5s;
    opacity: 0.4;
    background: cyan; }
  90% {
    transform: translateY(21px);
    transition: transform ease 0.5s;
    opacity: 0.1;
    background: turquoise; } }
@keyframes blinkSquares {
  0%, 100% {
    opacity: 1; }
  30% {
    transform: translateX(21px);
    transition: transform ease 0.5s;
    opacity: 0.6;
    background: aqua; }
  60% {
    transform: translate(21px, 21px);
    transition: transform ease 0.5s;
    opacity: 0.4;
    background: cyan; }
  90% {
    transform: translateY(21px);
    transition: transform ease 0.5s;
    opacity: 0.1;
    background: turquoise; } }
@-webkit-keyframes ticking {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom center;
    transition: transform ease 1s; }
  100% {
    transform: rotate(360deg);
    transform-origin: bottom center;
    transition: transform ease 1s; } }
@keyframes ticking {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom center;
    transition: transform ease 1s; }
  100% {
    transform: rotate(360deg);
    transform-origin: bottom center;
    transition: transform ease 1s; } }
@-webkit-keyframes heartBeat {
  0%, 100% {
    transform: scale(0.5, 0.5);
    transition: transform ease 1s; }
  40% {
    transform: scale(0.8, 0.8);
    transition: transform ease 1s; }
  80% {
    transform: scale(1, 1);
    transition: transform ease 1s; } }
@keyframes heartBeat {
  0%, 100% {
    transform: scale(0.5, 0.5);
    transition: transform ease 1s; }
  40% {
    transform: scale(0.8, 0.8);
    transition: transform ease 1s; }
  80% {
    transform: scale(1, 1);
    transition: transform ease 1s; } }
@-webkit-keyframes rotYaxis {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: transform ease 1s;
    transition: transform ease 1s;
    opacity: 0.5; }
  100% {
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg);
    -webkit-transition: transform ease 1s;
    transition: transform ease 1s;
    opacity: 1; } }
@keyframes rotYaxis {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: transform ease 1s;
    transition: transform ease 1s;
    opacity: 0.5; }
  100% {
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg);
    -webkit-transition: transform ease 1s;
    transition: transform ease 1s;
    opacity: 1; } }
@-webkit-keyframes homeList {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
    transform: rotateY(-90deg) translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
    transform: rotateY(0deg) translateY(0px); } }
@keyframes homeList {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
    transform: rotateY(-90deg) translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
    transform: rotateY(0deg) translateY(0px); } }
@-webkit-keyframes aboutList {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg) scale(0, 0);
    transform: rotateX(-90deg) scale(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg) scale(1, 1);
    transform: rotateX(0deg) scale(1, 1); } }
@keyframes aboutList {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg) scale(0, 0);
    transform: rotateX(-90deg) scale(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg) scale(1, 1);
    transform: rotateX(0deg) scale(1, 1); } }
@-webkit-keyframes contactList {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px) rotateX(-90deg);
    transform: translateY(-40px) rotateX(-90deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) rotateX(0deg);
    transform: translateY(0px) rotateX(0deg); } }
@keyframes contactList {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px) rotateX(-90deg);
    transform: translateY(-40px) rotateX(-90deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) rotateX(0deg);
    transform: translateY(0px) rotateX(0deg); } }
@-webkit-keyframes signupList {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px) rotate(-45deg);
    transform: translateX(40px) rotate(-45deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg); } }
@keyframes signupList {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px) rotate(-45deg);
    transform: translateX(40px) rotate(-45deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg); } }
@media only screen and (max-width: 380px) {
  body .container .menu li {
    display: block; } }
@media only screen and (max-width: 380px) {
  body .spinners div {
    display: block;
    margin: 10px auto; } }

/*# sourceMappingURL=master.css.map */
