// importing bourbon
@import "bourbon/bourbon"
// initial reset
*
  margin: auto
  padding: 0
body
  font-family: 'Slabo 27px', serif
  header
    background: shade(#444, 60%)
    text-align: center
    a
      text-decoration: none
    h1
      color: dimgray
      padding: 20px
  .container
    position: relative
    text-align: center
    .menu
      list-style-type: none
      text-align: center
      background: #2be0a5
      li
        display: inline-block
        margin: 0
        padding: 10px 20px
        color: ghostwhite
        font-weight: bold
        a
          text-decoration: none
          color: inherit
        .inner-list
          list-style-type: none
          >li
            display: none
            background: rgba(0,0,0,1)
            margin: 2px 0
            color: ghostwhite
            font-weight: bold
            // -webkit-animation: rotYaxis 5s infinite
            // animation: rotYaxis 5s infinite
        &:hover > ul.inner-list li
          display: block
// animating home list
body
  .container
    .menu
      li:hover > ul.inner-list.home
        perspective: 1000px
        li
          opacity: 0
          @for $i from 1 through 6
            &:nth-child(#{$i})
              animation: homeList 300ms (150ms * $i) - 300 ease-in-out forwards

// animating about list
body
  .container
    .menu
      li:hover > ul.inner-list.about
        perspective: 1000px
        li
          opacity: 0
          @for $i from 1 through 6
            &:nth-child(#{$i})
              animation: aboutList 300ms (150ms * $i) - 300 ease-in-out forwards
// animating contact list
body
  .container
    .menu
      li:hover > ul.inner-list.contact
        perspective: 1000px
        li
          opacity: 0
          @for $i from 1 through 6
            &:nth-child(#{$i})
              animation: contactList 300ms (150ms * $i) - 300 ease-in-out forwards
// animating sign-up list
body
  .container
    .menu
      li:hover > ul.inner-list.signup
        perspective: 1000px
        li
          opacity: 0
          @for $i from 1 through 6
            &:nth-child(#{$i})
              animation: signupList 300ms (150ms * $i) - 300 ease-in-out forwards


    // ######### [ SPINNERS ] #########
  .spinners
    h1
      background: shade(#444, 60%)
      text-align: center
      color: dimgray
      padding: 20px
    .google-spinner
      position: relative
      top: 20px
      border: 4px solid dimgrey
      @include size(48px)
      border-top: 6px solid #1f7abb
      border-right: 6px solid #19d45b
      border-bottom: 6px solid gold
      border-left: 6px solid red
      border-radius: 100%
      -webkit-animation: spinBars 2s ease infinite
      animation: spinBars 2s ease infinite

    .spinner-two
      position: relative
      top: 25px
      @include size(48px)
      border: 4px solid #444
      margin: 10px auto
      text-align: center
      line-height: 1em
      div
        @include size(20px)
        background: pink
        display: inline-block
        padding: 1px

// ####### [ ANIMATIONS ] #######
@-webkit-keyframes spinBars
  0%
    transform: rotate(0deg)
    transition: transform ease .5s
  100%
    transform: rotate(360deg)
    transition: transform ease .5s
  0%
    transform: rotate(0deg)
    transition: transform ease .5s
@keyframes spinBars
  0%
    transform: rotate(0deg)
    transition: transform ease .5s
  100%
    transform: rotate(360deg)
    transition: transform ease .5s
  0%
    transform: rotate(0deg)
    transition: transform ease .5s

// ################## [ ANIMATING INNER-LIs ] ##################
@-webkit-keyframes rotYaxis
  0%
    transform: rotateY(0deg)
    transition: transform ease 1s
    opacity: 0.5
  100%
    transform: rotateY(45deg)
    transition: transform ease 1s
    opacity: 1
@keyframes rotYaxis
  0%
    transform: rotateY(0deg)
    transition: transform ease 1s
    opacity: 0.5
  100%
    transform: rotateY(45deg)
    transition: transform ease 1s
    opacity: 1

// ########## ANIMATING INNER LI - HOME LIST #####################
@-webkit-keyframes homeList
  0%
    opacity: 0
    transform: rotateY(-90deg) translateY(30px)
  100%
    opacity: 1
    transform: rotateY(0deg) translateY(0px)
@keyframes homeList
  0%
    opacity: 0
    transform: rotateY(-90deg) translateY(30px)
  100%
    opacity: 1
    transform: rotateY(0deg) translateY(0px)

// ANIMATING ABOUT:
@-webkit-keyframes aboutList
  0%
    opacity: 0
    transform: rotateX(-90deg) scale(0, 0)
  100%
    opacity: 1
    transform: rotateX(0deg) scale(1, 1)
@keyframes aboutList
  0%
    opacity: 0
    transform: rotateX(-90deg) scale(0, 0)
  100%
    opacity: 1
    transform: rotateX(0deg) scale(1, 1)

// ANIMATING CONTACT:
@-webkit-keyframes contactList
  0%
    opacity: 0
    transform: translateY(-40px) rotateX(-90deg)
  100%
    opacity: 1
    transform: translateY(0px) rotateX(0deg)
@keyframes contactList
  0%
    opacity: 0
    transform: translateY(-40px) rotateX(-90deg)
  100%
    opacity: 1
    transform: translateY(0px) rotateX(0deg)

// ANIMATING SIGN-UP:
@-webkit-keyframes signupList
  0%
    opacity: 0
    transform: translateX(40px) rotate(-45deg)
  100%
    opacity: 1
    transform: translateX(0px) rotate(0deg)
@keyframes signupList
  0%
    opacity: 0
    transform: translateX(40px) rotate(-45deg)
  100%
    opacity: 1
    transform: translateX(0px) rotate(0deg)




// ########### [ MEDIA QUERIES ] ###########
@media only screen and (max-width: 380px)
  body
    .container
      .menu
        li
          display: block
